CONFIG_NMI_LOG_BUF_SHIFT=13
# CONFIG_SLAB_FREELIST_RANDOM is not set
CONFIG_PERF_EVENTS_INTEL_RAPL=m
CONFIG_PERF_EVENTS_INTEL_CSTATE=m
CONFIG_MEMORY_HOTPLUG_DEFAULT_ONLINE=y
CONFIG_Z3FOLD=m
CONFIG_ACPI_TABLE_UPGRADE=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=m
CONFIG_PCIE_DPC=m
CONFIG_NFC_PN533_USB=m
CONFIG_NFC_PN533_I2C=m
# CONFIG_TCM_QLA2XXX_DEBUG is not set
CONFIG_SATA_DWC=m
CONFIG_SATA_DWC_OLD_DMA=y
# CONFIG_SATA_DWC_DEBUG is not set
CONFIG_DRM_AMDGPU_GART_DEBUGFS=y
# CONFIG_DRM_I915_DEBUG_GEM is not set
CONFIG_ISCSI_TARGET_CXGB4=m
CONFIG_GTP=m
CONFIG_WIZNET_W5100_SPI=m
CONFIG_SPI_ROCKCHIP=m
CONFIG_SENSORS_MAX31722=m
CONFIG_INT3406_THERMAL=m
CONFIG_GENERIC_ADC_THERMAL=m
CONFIG_REGULATOR_PV88080=m
CONFIG_VIDEO_TW686X=m
CONFIG_DRM_I915_WERROR=y
# CONFIG_DRM_I915_DEBUG is not set
CONFIG_DRM_ANALOGIX_ANX78XX=m
CONFIG_HID_ASUS=m
CONFIG_USBIP_VUDC=m
CONFIG_UCSI=m
CONFIG_LEDS_TRIGGER_MTD=y
CONFIG_LEDS_TRIGGER_PANIC=y
CONFIG_INFINIBAND_HFI1=m
# CONFIG_HFI1_DEBUG_SDMA_ORDER is not set
CONFIG_HFI1_VERBS_31BIT_PSN=y
# CONFIG_SDMA_VERBOSITY is not set
CONFIG_RTC_DRV_DS1302=m
CONFIG_SYNC_FILE=y
CONFIG_VIDEO_TW686X_KH=m
CONFIG_INTEL_PMC_CORE=y
CONFIG_CROS_KBD_LED_BACKLIGHT=m
CONFIG_COMMON_CLK_OXNAS=y
CONFIG_DEVFREQ_GOV_PASSIVE=m
CONFIG_AD5592R=m
CONFIG_AD5593R=m
CONFIG_AM2315=m
CONFIG_BMI160_I2C=m
CONFIG_BMI160_SPI=m
CONFIG_BH1780=m
CONFIG_MAX44000=m
CONFIG_VEML6070=m
CONFIG_BMC150_MAGN_I2C=m
CONFIG_BMC150_MAGN_SPI=m
CONFIG_DS1803=m
CONFIG_MCP4131=m
CONFIG_HP03=m
CONFIG_HP206C=m
CONFIG_MCE_AMD_INJ=m
CONFIG_NVDIMM_DAX=y
CONFIG_DEV_DAX=m
CONFIG_DEV_DAX_PMEM=m
CONFIG_EFI_CAPSULE_LOADER=m
# CONFIG_F2FS_FAULT_INJECTION is not set
CONFIG_RCU_PERF_TEST=m
# CONFIG_HIST_TRIGGERS is not set
CONFIG_TEST_HASH=m
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_SECURITY_LOADPIN=y
# CONFIG_SECURITY_LOADPIN_ENABLED is not set
# CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE is not set
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
# CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL is not set

# CONFIG_TEST_UUID is not set
