CONFIG_MEMCG=y
CONFIG_MEMCG_V1=y
CONFIG_POWER_SEQUENCING=m
CONFIG_POWER_SEQUENCING_QCOM_WCN=m
CONFIG_GPIO_SLOPPY_LOGIC_ANALYZER=m

CONFIG_LD_DEAD_CODE_DATA_ELIMINATION=y

CONFIG_RUST=y
CONFIG_RUST_FW_LOADER_ABSTRACTIONS=y
# CONFIG_BLK_DEV_RUST_NULL is not set
# CONFIG_RUST_DEBUG_ASSERTIONS is not set
# CONFIG_RUST_OVERFLOW_CHECKS is not set
# CONFIG_RUST_BUILD_ASSERT_ALLOW is not set

CONFIG_SCHED_CLASS_EXT=y

CONFIG_CPUSETS=y
CONFIG_CPUSETS_V1=y

CONFIG_VMLINUX_MAP=y
CONFIG_BUILTIN_MODULE_RANGES=y

CONFIG_USB_ONBOARD_DEV_USB5744=y

CONFIG_CPUFREQ_VIRT=m

CONFIG_IP_NF_IPTABLES_LEGACY=m

CONFIG_PCIE_TPH=y
CONFIG_HOTPLUG_PCI_OCTEONEP=y
CONFIG_MCHP_LAN966X_PCI=m
CONFIG_NET_DSA_MV88E6XXX_LEDS=y
CONFIG_NXP_ENETC4=m
CONFIG_NXP_NETC_BLK_CTRL=m
CONFIG_HIBMCGE=m
CONFIG_ATH12K_COREDUMP=y
CONFIG_RTW88_8821AU=m
CONFIG_RTW88_8812AU=m
CONFIG_HW_RANDOM_IPROC_RNG200=m
CONFIG_I2C_AMD_ASF=m
CONFIG_GPIO_POLARFIRE_SOC=y
CONFIG_GPIO_MPSSE=m
CONFIG_CHARGER_TWL6030=m
CONFIG_SENSORS_ISL28022=m
CONFIG_SENSORS_NCT7363=m
CONFIG_PCIE_THERMAL=y
CONFIG_VIDEO_RP1_CFE=m
CONFIG_DRM_XE_DEBUG_MEMIRQ=y
CONFIG_DRM_PANEL_SAMSUNG_AMS581VF01=m
CONFIG_DRM_PANEL_SAMSUNG_AMS639RQ08=m
CONFIG_DRM_PANEL_SAMSUNG_S6E88A0_AMS427AP24=m
CONFIG_DRM_PANEL_SAMSUNG_S6E3HA8=m
CONFIG_DRM_ITE_IT6263=m
CONFIG_DRM_TI_TDP158=m
CONFIG_TINYDRM_SHARP_MEMORY=m
CONFIG_SND_SOC_ADAU1373=m
CONFIG_SND_SOC_AW88081=m
CONFIG_SND_SOC_CS42L84=m
CONFIG_SND_SOC_ES8323=m
CONFIG_SND_SOC_RT721_SDCA_SDW=m
CONFIG_SND_SOC_SMA1307=m
CONFIG_SND_SOC_UDA1342=m
CONFIG_SND_SOC_NTP8918=m
CONFIG_SND_SOC_NTP8835=m
CONFIG_HID_KYSONA=m
CONFIG_TYPEC_MUX_TUSB1046=m
CONFIG_RTC_DRV_88PM886=m
CONFIG_RTC_DRV_RENESAS_RTCA3=m
CONFIG_RTC_DRV_AMLOGIC_A4=m
CONFIG_VIRTIO_VFIO_PCI=m
CONFIG_GPIB=m
CONFIG_GPIB_COMMON=m
CONFIG_GPIB_AGILENT_82350B=m
CONFIG_GPIB_AGILENT_82357A=m
CONFIG_GPIB_CEC_PCI=m
CONFIG_GPIB_NI_PCI_ISA=m
CONFIG_GPIB_CB7210=m
CONFIG_GPIB_NI_USB=m
CONFIG_GPIB_FLUKE=m
CONFIG_GPIB_FMH=m
CONFIG_GPIB_INES=m
CONFIG_GPIB_PCMCIA=y
CONFIG_GPIB_LPVO=m
CONFIG_CHROMEOS_OF_HW_PROBER=m
CONFIG_COMMON_CLK_NPCM8XX=m
CONFIG_COMMON_CLK_MT6735=m
CONFIG_COMMON_CLK_MT6735_IMGSYS=m
CONFIG_COMMON_CLK_MT6735_MFGCFG=m
CONFIG_COMMON_CLK_MT6735_VDECSYS=m
CONFIG_COMMON_CLK_MT6735_VENCSYS=m
CONFIG_MTK_DVFSRC=m
CONFIG_AD7625=m
CONFIG_AD7779=m
CONFIG_GEHC_PMC_ADC=m
CONFIG_AD3552R_HS=m
CONFIG_AD8460=m
CONFIG_BMI270_I2C=m
CONFIG_BMI270_SPI=m
CONFIG_SMI240=m
CONFIG_VEML3235=m
CONFIG_ALS31300=m
CONFIG_RESET_MESON_AUX=m
CONFIG_PHY_NXP_PTN3222=m
CONFIG_PHY_STM32_COMBOPHY=m
CONFIG_INTERCONNECT_MTK_DVFSRC_EMI=m
CONFIG_INTERCONNECT_MTK_MT8183=m
CONFIG_INTERCONNECT_MTK_MT8195=m
# CONFIG_DEBUG_NET_SMALL_RTNL is not set
CONFIG_REGULATOR_MTK_DVFSRC=m
CONFIG_HISILICON_ERRATUM_162100801=y
CONFIG_ARM64_HAFT=y
CONFIG_ARM64_GCS=y
CONFIG_ACPI_EC=y
CONFIG_KEBA_LAN9252=m
CONFIG_RVU_ESWITCH=m
CONFIG_LAN969X_SWITCH=y
CONFIG_HW_RANDOM_AIROHA=m
CONFIG_HW_RANDOM_BCM74110=m
CONFIG_PTP_1588_CLOCK_VMCLOCK=m
CONFIG_PINCTRL_AIROHA=m
CONFIG_PINCTRL_IPQ5424=m
CONFIG_PINCTRL_QCS615=m
CONFIG_PINCTRL_QCS8300=m
CONFIG_PINCTRL_SAR2130P=m
CONFIG_PINCTRL_SM8750=m
CONFIG_ARM_CCA_GUEST=m
CONFIG_GPIB_GPIO=m
CONFIG_IPQ_GCC_5424=m
CONFIG_SA_CAMCC_8775P=m
CONFIG_QCS_GCC_8300=m
CONFIG_SA_DISPCC_8775P=m
CONFIG_SAR_GCC_2130P=m
CONFIG_SAR_GPUCC_2130P=m
CONFIG_SA_VIDEOCC_8775P=m
CONFIG_CLK_RENESAS_VBATTB=m
CONFIG_ARM_SMMU_V3_IOMMUFD=y
CONFIG_MARVELL_PEM_PMU=m
CONFIG_NVMEM_RCAR_EFUSE=m
CONFIG_INTERCONNECT_QCOM_QCS615=m
CONFIG_INTERCONNECT_QCOM_QCS8300=m
CONFIG_INTERCONNECT_QCOM_SAR2130P=m
CONFIG_PINCTRL_IPQ5424=m
CONFIG_PINCTRL_QCS615=m
CONFIG_PINCTRL_QCS8300=m
CONFIG_PINCTRL_SAR2130P=m
CONFIG_PINCTRL_SM8750=m
CONFIG_ARM_CCA_GUEST=y

CONFIG_PREEMPT_LAZY=y
CONFIG_X86_BUS_LOCK_DETECT=y
CONFIG_CPUFREQ_DT=m
CONFIG_CPUFREQ_DT_PLATDEV=m
# CONFIG_AUTOFDO_CLANG is not set
CONFIG_OF_PARTITION=y
CONFIG_PCI_FTPCI100=y
CONFIG_PCI_HOST_GENERIC=m
CONFIG_PCIE_XILINX=y
CONFIG_PCIE_CADENCE_PLAT_HOST=y
CONFIG_PCIE_CADENCE_PLAT_EP=y
CONFIG_PCIE_INTEL_GW=y
CONFIG_PCIE_MICROCHIP_HOST=m
CONFIG_MOXTET=m
CONFIG_MTD_OF_PARTS=m
CONFIG_MTD_PHYSMAP_OF=y
CONFIG_MTD_PHYSMAP_VERSATILE=y
CONFIG_MTD_PHYSMAP_GEMINI=y
CONFIG_MTD_NAND_DENALI_DT=m
CONFIG_MTD_NAND_CADENCE=m
CONFIG_MTD_NAND_INTEL_LGM=m
# CONFIG_OF_UNITTEST is not set
CONFIG_HI6421V600_IRQ=m
CONFIG_HISI_HIKEY_USB=m
CONFIG_OPEN_DICE=m
CONFIG_VCPU_STALL_DETECTOR=m
CONFIG_AHCI_CEVA=m
CONFIG_PATA_OF_PLATFORM=m
CONFIG_CAN_FLEXCAN=m
CONFIG_CAN_GRCAN=m
CONFIG_CAN_CTUCANFD_PLATFORM=m
CONFIG_MDIO_HISI_FEMAC=m
CONFIG_MDIO_IPQ4019=m
CONFIG_MDIO_IPQ8064=m
CONFIG_MDIO_BUS_MUX_GPIO=m
CONFIG_MDIO_BUS_MUX_MULTIPLEXER=m
CONFIG_MDIO_BUS_MUX_MMIOREG=m
CONFIG_ATH10K_AHB=y
CONFIG_WLCORE_SPI=m
CONFIG_KEYBOARD_OMAP4=m
CONFIG_KEYBOARD_CAP11XX=m
CONFIG_KEYBOARD_BCM=m
CONFIG_TOUCHSCREEN_AR1021_I2C=m
CONFIG_TOUCHSCREEN_CHIPONE_ICN8318=m
CONFIG_TOUCHSCREEN_EGALAX=m
CONFIG_TOUCHSCREEN_IMX6UL_TSC=m
CONFIG_INPUT_ATMEL_CAPTOUCH=m
CONFIG_SERIO_APBPS2=m
CONFIG_SERIAL_OF_PLATFORM=m
CONFIG_SERIAL_SIFIVE=m
CONFIG_SERIAL_XILINX_PS_UART=m
CONFIG_SERIAL_CONEXANT_DIGICOLOR=m
CONFIG_HW_RANDOM_CCTRNG=m
CONFIG_XILLYBUS_OF=m
CONFIG_I2C_ARB_GPIO_CHALLENGE=m
CONFIG_I2C_MUX_GPMUX=m
CONFIG_I2C_MUX_PINCTRL=m
CONFIG_I2C_DEMUX_PINCTRL=m
CONFIG_I2C_PXA=m
CONFIG_I2C_RK3X=m
CONFIG_SPI_CADENCE_QUADSPI=m
CONFIG_SPI_FSL_SPI=m
CONFIG_SPI_SN_F_OSPI=m
CONFIG_PINCTRL_AXP209=m
CONFIG_PINCTRL_AW9523=m
CONFIG_PINCTRL_EQUILIBRIUM=m
CONFIG_PINCTRL_MICROCHIP_SGPIO=m
CONFIG_PINCTRL_OCELOT=m
CONFIG_PINCTRL_PEF2256=m
CONFIG_PINCTRL_SINGLE=m
CONFIG_PINCTRL_STMFX=m
CONFIG_PINCTRL_TPS6594=m
CONFIG_GPIO_74XX_MMIO=m
CONFIG_GPIO_ALTERA=m
CONFIG_GPIO_CADENCE=m
CONFIG_GPIO_FTGPIO010=y
CONFIG_GPIO_GRGPIO=m
CONFIG_GPIO_HLWD=m
CONFIG_GPIO_LOGICVC=m
CONFIG_GPIO_SIFIVE=m
CONFIG_GPIO_SYSCON=m
CONFIG_GPIO_WCD934X=m
CONFIG_GPIO_XILINX=m
CONFIG_GPIO_ADNP=m
CONFIG_GPIO_GW_PLD=m
CONFIG_GPIO_ADP5585=m
CONFIG_GPIO_SODAVILLE=y
CONFIG_GPIO_74X164=m
CONFIG_GPIO_MOXTET=m
CONFIG_POWER_RESET_GPIO=y
CONFIG_POWER_RESET_GPIO_RESTART=y
CONFIG_POWER_RESET_LTC2952=y
CONFIG_POWER_RESET_REGULATOR=y
CONFIG_POWER_RESET_SYSCON=y
CONFIG_POWER_RESET_SYSCON_POWEROFF=y
CONFIG_SYSCON_REBOOT_MODE=m
CONFIG_NVMEM_REBOOT_MODE=m
CONFIG_CHARGER_DETECTOR_MAX14656=m
CONFIG_CHARGER_UCS1002=m
CONFIG_THERMAL_OF=y
CONFIG_CPU_THERMAL=y
CONFIG_CPU_FREQ_THERMAL=y
CONFIG_CPU_IDLE_THERMAL=y
CONFIG_THERMAL_MMIO=m
CONFIG_DA9062_THERMAL=m
CONFIG_GPIO_WATCHDOG=m
CONFIG_MFD_ACT8945A=m
CONFIG_MFD_ATMEL_FLEXCOM=m
CONFIG_MFD_ATMEL_HLCDC=m
CONFIG_MFD_CGBC=m
CONFIG_MFD_MAX5970=m
CONFIG_MFD_GATEWORKS_GSC=m
CONFIG_MFD_HI6421_PMIC=m
CONFIG_MFD_HI6421_SPMI=m
CONFIG_MFD_MAX77650=m
CONFIG_MFD_MAX77686=m
CONFIG_MFD_MAX77714=m
CONFIG_MFD_CPCAP=m
CONFIG_MFD_NTXEC=m
CONFIG_MFD_RK8XX_I2C=m
CONFIG_MFD_RK8XX_SPI=m
CONFIG_MFD_RN5T618=m
CONFIG_MFD_STMPE=y
CONFIG_STMPE_SPI=y
CONFIG_MFD_TPS65217=m
CONFIG_MFD_TI_LP87565=m
CONFIG_MFD_TPS65218=m
CONFIG_MFD_TPS65219=m
CONFIG_MFD_QCOM_PM8008=m
CONFIG_MFD_RSMU_I2C=m
CONFIG_MFD_RSMU_SPI=m
CONFIG_REGULATOR_ACT8945A=m
CONFIG_REGULATOR_CPCAP=m
CONFIG_REGULATOR_CROS_EC=m
CONFIG_REGULATOR_DA9063=m
CONFIG_REGULATOR_DA9121=m
CONFIG_REGULATOR_FAN53880=m
CONFIG_REGULATOR_HI6421=m
CONFIG_REGULATOR_HI6421V530=m
CONFIG_REGULATOR_HI6421V600=m
CONFIG_REGULATOR_LP873X=m
CONFIG_REGULATOR_LP87565=m
CONFIG_REGULATOR_MAX77650=m
CONFIG_REGULATOR_MAX8973=m
CONFIG_REGULATOR_MAX77686=m
CONFIG_REGULATOR_MAX77802=m
CONFIG_REGULATOR_MCP16502=m
CONFIG_REGULATOR_MP5416=m
CONFIG_REGULATOR_MP886X=m
CONFIG_REGULATOR_MPQ7920=m
CONFIG_REGULATOR_PF8X00=m
CONFIG_REGULATOR_PFUZE100=m
CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_ATTINY=m
CONFIG_REGULATOR_RK808=m
CONFIG_REGULATOR_RN5T618=m
CONFIG_REGULATOR_SY8106A=m
CONFIG_REGULATOR_SY8824X=m
CONFIG_REGULATOR_SY8827N=m
CONFIG_REGULATOR_TPS6286X=m
CONFIG_REGULATOR_TPS6287X=m
CONFIG_REGULATOR_TPS65217=m
CONFIG_REGULATOR_TPS65218=m
CONFIG_REGULATOR_TPS65219=m
CONFIG_REGULATOR_TPS6594=m
CONFIG_REGULATOR_VCTRL=m
CONFIG_IR_GPIO_CIR=m
CONFIG_IR_GPIO_TX=m
CONFIG_IR_HIX5HD2=m
CONFIG_IR_PWM_TX=m
CONFIG_IR_SPI=m
CONFIG_VIDEO_INTEL_IPU6=m
CONFIG_VIDEO_MUX=m
CONFIG_VIDEO_XILINX=m
CONFIG_VIDEO_XILINX_CSI2RXSS=m
CONFIG_VIDEO_XILINX_TPG=m
CONFIG_VIDEO_XILINX_VTC=m
CONFIG_VIDEO_IMX334=m
CONFIG_VIDEO_IMX335=m
CONFIG_VIDEO_IMX412=m
CONFIG_VIDEO_IMX415=m
CONFIG_VIDEO_OV5640=m
CONFIG_VIDEO_OV5645=m
CONFIG_VIDEO_OV9282=m
CONFIG_VIDEO_VGXY61=m
CONFIG_VIDEO_ADV748X=m
CONFIG_VIDEO_ISL7998X=m
CONFIG_VIDEO_MAX9286=m
CONFIG_VIDEO_MAX96714=m
CONFIG_VIDEO_MAX96717=m
CONFIG_DRM_KOMEDA=m
CONFIG_DRM_PANEL_ABT_Y030XX067A=m
CONFIG_DRM_PANEL_ARM_VERSATILE=m
CONFIG_DRM_PANEL_ASUS_Z00T_TM5P5_NT35596=m
CONFIG_DRM_PANEL_BOE_BF060Y8M_AJ0=m
CONFIG_DRM_PANEL_BOE_HIMAX8279D=m
CONFIG_DRM_PANEL_BOE_TV101WUM_LL2=m
CONFIG_DRM_PANEL_EBBG_FT8719=m
CONFIG_DRM_PANEL_ELIDA_KD35T133=m
CONFIG_DRM_PANEL_FEIXIN_K101_IM2BA02=m
CONFIG_DRM_PANEL_FEIYANG_FY07024DI26A30D=m
CONFIG_DRM_PANEL_DSI_CM=m
CONFIG_DRM_PANEL_LVDS=m
CONFIG_DRM_PANEL_HIMAX_HX83102=m
CONFIG_DRM_PANEL_BOE_TH101MB31UIG002_28A=m
CONFIG_DRM_PANEL_BOE_TV101WUM_NL6=m
CONFIG_DRM_PANEL_HIMAX_HX83112A=m
CONFIG_DRM_PANEL_HIMAX_HX8394=m
CONFIG_DRM_PANEL_ILITEK_IL9322=m
CONFIG_DRM_PANEL_ILITEK_ILI9805=m
CONFIG_DRM_PANEL_ILITEK_ILI9806E=m
CONFIG_DRM_PANEL_ILITEK_ILI9881C=m
CONFIG_DRM_PANEL_ILITEK_ILI9882T=m
CONFIG_DRM_PANEL_INNOLUX_EJ030NA=m
CONFIG_DRM_PANEL_INNOLUX_P079ZCA=m
CONFIG_DRM_PANEL_JADARD_JD9365DA_H3=m
CONFIG_DRM_PANEL_JDI_LPM102A188A=m
CONFIG_DRM_PANEL_JDI_LT070ME05000=m
CONFIG_DRM_PANEL_JDI_R63452=m
CONFIG_DRM_PANEL_KHADAS_TS050=m
CONFIG_DRM_PANEL_KINGDISPLAY_KD097D04=m
CONFIG_DRM_PANEL_LEADTEK_LTK050H3146W=m
CONFIG_DRM_PANEL_LEADTEK_LTK500HD1829=m
CONFIG_DRM_PANEL_LINCOLNTECH_LCD197=m
CONFIG_DRM_PANEL_LG_LB035Q02=m
CONFIG_DRM_PANEL_LG_LG4573=m
CONFIG_DRM_PANEL_LG_SW43408=m
CONFIG_DRM_PANEL_MAGNACHIP_D53E6EA8966=m
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=m
CONFIG_DRM_PANEL_NEC_NL8048HL11=m
CONFIG_DRM_PANEL_NEWVISION_NV3051D=m
CONFIG_DRM_PANEL_NEWVISION_NV3052C=m
CONFIG_DRM_PANEL_NOVATEK_NT35510=m
CONFIG_DRM_PANEL_NOVATEK_NT35560=m
CONFIG_DRM_PANEL_NOVATEK_NT35950=m
CONFIG_DRM_PANEL_NOVATEK_NT36523=m
CONFIG_DRM_PANEL_NOVATEK_NT36672A=m
CONFIG_DRM_PANEL_NOVATEK_NT36672E=m
CONFIG_DRM_PANEL_NOVATEK_NT39016=m
CONFIG_DRM_PANEL_OLIMEX_LCD_OLINUXINO=m
CONFIG_DRM_PANEL_ORISETECH_OTM8009A=m
CONFIG_DRM_PANEL_OSD_OSD101T2587_53TS=m
CONFIG_DRM_PANEL_PANASONIC_VVX10F034N00=m
CONFIG_DRM_PANEL_RAYDIUM_RM67191=m
CONFIG_DRM_PANEL_RAYDIUM_RM68200=m
CONFIG_DRM_PANEL_RAYDIUM_RM692E5=m
CONFIG_DRM_PANEL_RAYDIUM_RM69380=m
CONFIG_DRM_PANEL_RONBO_RB070D30=m
CONFIG_DRM_PANEL_SAMSUNG_S6E88A0_AMS452EF01=m
CONFIG_DRM_PANEL_SAMSUNG_ATNA33XC20=m
CONFIG_DRM_PANEL_SAMSUNG_DB7430=m
CONFIG_DRM_PANEL_SAMSUNG_LD9040=m
CONFIG_DRM_PANEL_SAMSUNG_S6E3FA7=m
CONFIG_DRM_PANEL_SAMSUNG_S6D16D0=m
CONFIG_DRM_PANEL_SAMSUNG_S6D27A1=m
CONFIG_DRM_PANEL_SAMSUNG_S6D7AA0=m
CONFIG_DRM_PANEL_SAMSUNG_S6E3HA2=m
CONFIG_DRM_PANEL_SAMSUNG_S6E63J0X03=m
CONFIG_DRM_PANEL_SAMSUNG_S6E63M0=m
CONFIG_DRM_PANEL_SAMSUNG_S6E63M0_SPI=m
CONFIG_DRM_PANEL_SAMSUNG_S6E63M0_DSI=m
CONFIG_DRM_PANEL_SAMSUNG_S6E8AA0=m
CONFIG_DRM_PANEL_SAMSUNG_SOFEF00=m
CONFIG_DRM_PANEL_SEIKO_43WVF1G=m
CONFIG_DRM_PANEL_SHARP_LQ101R1SX01=m
CONFIG_DRM_PANEL_SHARP_LS037V7DW01=m
CONFIG_DRM_PANEL_SHARP_LS043T1LE01=m
CONFIG_DRM_PANEL_SHARP_LS060T1SX01=m
CONFIG_DRM_PANEL_SITRONIX_ST7701=m
CONFIG_DRM_PANEL_SITRONIX_ST7703=m
CONFIG_DRM_PANEL_SITRONIX_ST7789V=m
CONFIG_DRM_PANEL_SONY_ACX565AKM=m
CONFIG_DRM_PANEL_SONY_TD4353_JDI=m
CONFIG_DRM_PANEL_SONY_TULIP_TRULY_NT35521=m
CONFIG_DRM_PANEL_STARTEK_KD070FHFID015=m
CONFIG_DRM_PANEL_EDP=m
CONFIG_DRM_PANEL_SIMPLE=m
CONFIG_DRM_PANEL_SYNAPTICS_R63353=m
CONFIG_DRM_PANEL_TDO_TL070WSH30=m
CONFIG_DRM_PANEL_TPO_TD028TTEC1=m
CONFIG_DRM_PANEL_TPO_TD043MTEA1=m
CONFIG_DRM_PANEL_TPO_TPG110=m
CONFIG_DRM_PANEL_TRULY_NT35597_WQXGA=m
CONFIG_DRM_PANEL_VISIONOX_R66451=m
CONFIG_DRM_PANEL_VISIONOX_RM69299=m
CONFIG_DRM_PANEL_VISIONOX_VTDR6130=m
CONFIG_DRM_PANEL_XINPENG_XPP055C272=m
CONFIG_DRM_CHIPONE_ICN6211=m
CONFIG_DRM_CHRONTEL_CH7033=m
CONFIG_DRM_CROS_EC_ANX7688=m
CONFIG_DRM_DISPLAY_CONNECTOR=m
CONFIG_DRM_ITE_IT6505=m
CONFIG_DRM_LONTIUM_LT8912B=m
CONFIG_DRM_LONTIUM_LT9211=m
CONFIG_DRM_LONTIUM_LT9611=m
CONFIG_DRM_LONTIUM_LT9611UXC=m
CONFIG_DRM_ITE_IT66121=m
CONFIG_DRM_LVDS_CODEC=m
CONFIG_DRM_MEGACHIPS_STDPXXXX_GE_B850V3_FW=m
CONFIG_DRM_NWL_MIPI_DSI=m
CONFIG_DRM_NXP_PTN3460=m
CONFIG_DRM_PARADE_PS8622=m
CONFIG_DRM_PARADE_PS8640=m
CONFIG_DRM_SAMSUNG_DSIM=m
CONFIG_DRM_SIL_SII8620=m
CONFIG_DRM_SII902X=m
CONFIG_DRM_SII9234=m
CONFIG_DRM_SIMPLE_BRIDGE=m
CONFIG_DRM_THINE_THC63LVD1024=m
CONFIG_DRM_TOSHIBA_TC358762=m
CONFIG_DRM_TOSHIBA_TC358764=m
CONFIG_DRM_TOSHIBA_TC358767=m
CONFIG_DRM_TOSHIBA_TC358768=m
CONFIG_DRM_TOSHIBA_TC358775=m
CONFIG_DRM_TI_DLPC3433=m
CONFIG_DRM_TI_TFP410=m
CONFIG_DRM_TI_SN65DSI83=m
CONFIG_DRM_TI_SN65DSI86=m
CONFIG_DRM_TI_TPD12S015=m
CONFIG_DRM_ANALOGIX_ANX6345=m
CONFIG_DRM_ANALOGIX_ANX7625=m
CONFIG_DRM_I2C_ADV7511=m
CONFIG_DRM_I2C_ADV7511_AUDIO=y
CONFIG_DRM_I2C_ADV7511_CEC=y
CONFIG_DRM_CDNS_DSI=m
CONFIG_DRM_CDNS_DSI_J721E=y
CONFIG_DRM_CDNS_MHDP8546=m
CONFIG_DRM_LOGICVC=m
CONFIG_DRM_ARCPGU=m
CONFIG_BACKLIGHT_TPS65217=m
CONFIG_BACKLIGHT_LED=m
CONFIG_SND_SERIAL_GENERIC=m
CONFIG_SND_SOC_AMD_LEGACY_SDW_MACH=m
CONFIG_SND_SOC_MIKROE_PROTO=m
CONFIG_SND_SOC_SOF_OF=m
CONFIG_SND_SOC_CPCAP=m
CONFIG_SND_SOC_RK817=m
CONFIG_MTD_PHYSMAP_IXP4XX=y
CONFIG_I2C_PXA_SLAVE=y
CONFIG_MTD_PHYSMAP_GPIO_ADDR=y
CONFIG_MTD_PCI=m
CONFIG_KEYBOARD_STMPE=m
CONFIG_TOUCHSCREEN_STMPE=m
CONFIG_INPUT_MAX77650_ONKEY=m
CONFIG_INPUT_CPCAP_PWRBUTTON=m
CONFIG_INPUT_TPS65218_PWRBUTTON=m
CONFIG_GPIO_LP87565=m
CONFIG_GPIO_MAX77650=m
CONFIG_GPIO_STMPE=y
CONFIG_GPIO_TPS65218=m
CONFIG_BATTERY_ACT8945A=m
CONFIG_BATTERY_CPCAP=m
CONFIG_CHARGER_MAX77650=m
CONFIG_CHARGER_TPS65217=m
CONFIG_STMPE_I2C=y
CONFIG_LEDS_CPCAP=m
CONFIG_LEDS_MAX77650=m
CONFIG_RTC_DRV_RC5T619=m
CONFIG_RTC_DRV_CPCAP=m
CONFIG_CPCAP_ADC=m
CONFIG_RN5T618_ADC=m
CONFIG_STMPE_ADC=m
CONFIG_PWM_ATMEL_HLCDC_PWM=m
CONFIG_PWM_STMPE=y
CONFIG_RN5T618_POWER=m
CONFIG_INPUT_TPS65219_PWRBUTTON=m
CONFIG_INPUT_RK805_PWRKEY=m
CONFIG_I2C_CGBC=m
CONFIG_PINCTRL_RK805=m
CONFIG_GPIO_CGBC=m
CONFIG_GPIO_TPS65219=m
CONFIG_CHARGER_RK817=m
CONFIG_RN5T618_WATCHDOG=m
CONFIG_MAX77620_WATCHDOG=m
CONFIG_CGBC_WDT=m
CONFIG_SND_SOC_SSM3515=m
CONFIG_SND_AUDIO_GRAPH_CARD=m
CONFIG_SND_AUDIO_GRAPH_CARD2=m
CONFIG_SND_AUDIO_GRAPH_CARD2_CUSTOM_SAMPLE=m
CONFIG_SND_TEST_COMPONENT=m
CONFIG_USB_DWC3_OF_SIMPLE=m
CONFIG_USB_CHIPIDEA_IMX=m
CONFIG_USB_CHIPIDEA_TEGRA=m
CONFIG_USB_SNP_UDC_PLAT=m
CONFIG_USB_GADGET_XILINX=m
CONFIG_PWRSEQ_EMMC=m
CONFIG_PWRSEQ_SD8787=m
CONFIG_PWRSEQ_SIMPLE=m
CONFIG_MMC_SDHCI_OF_ARASAN=m
CONFIG_MMC_SDHCI_OF_AT91=m
CONFIG_MMC_SDHCI_OF_DWCMSHC=m
CONFIG_MMC_SDHCI_CADENCE=m
CONFIG_MMC_SDHCI_MILBEAUT=m
CONFIG_SCSI_UFS_DWC_TC_PLATFORM=m
CONFIG_LEDS_AN30259A=m
CONFIG_LEDS_AW2013=m
CONFIG_LEDS_BCM6328=m
CONFIG_LEDS_BCM6358=m
CONFIG_LEDS_CR0014114=m
CONFIG_LEDS_EL15203000=m
CONFIG_LEDS_LM3692X=m
CONFIG_LEDS_LP55XX_COMMON=m
CONFIG_LEDS_LP5521=m
CONFIG_LEDS_LP5523=m
CONFIG_LEDS_LP5562=m
CONFIG_LEDS_LP5569=m
CONFIG_LEDS_LP8501=m
CONFIG_LEDS_LP8860=m
CONFIG_LEDS_IS31FL32XX=m
CONFIG_LEDS_SYSCON=y
CONFIG_LEDS_LM3697=m
CONFIG_LEDS_LGM=m
CONFIG_LEDS_AAT1290=m
CONFIG_LEDS_KTD2692=m
CONFIG_LEDS_MAX77693=m
CONFIG_LEDS_MT6360=m
CONFIG_LEDS_RT4505=m
CONFIG_LEDS_QCOM_LPG=m
CONFIG_RTC_DRV_HYM8563=m
CONFIG_RTC_DRV_MAX77686=m
CONFIG_RTC_DRV_NCT3018Y=m
CONFIG_RTC_DRV_RK808=m
CONFIG_RTC_DRV_ISL12026=m
CONFIG_RTC_DRV_ZYNQMP=m
CONFIG_RTC_DRV_NTXEC=m
CONFIG_RTC_DRV_CADENCE=m
CONFIG_RTC_DRV_R7301=m
CONFIG_DW_AXI_DMAC=m
CONFIG_FSL_EDMA=m
CONFIG_XILINX_ZYNQMP_DPDMA=m
# CONFIG_VIRTIO_VFIO_PCI_ADMIN_LEGACY is not set
CONFIG_VIDEO_MAX96712=m
CONFIG_MOST_DIM2=m
CONFIG_XIL_AXIS_FIFO=m
CONFIG_CROS_EC_RPMSG=m
CONFIG_CROS_EC_VBC=m
CONFIG_AMD_HSMP_ACPI=m
CONFIG_AMD_HSMP_PLAT=m
CONFIG_COMMON_CLK_MAX77686=m
CONFIG_COMMON_CLK_RK808=m
CONFIG_COMMON_CLK_SI514=m
CONFIG_COMMON_CLK_SI570=m
CONFIG_COMMON_CLK_CDCE925=m
CONFIG_COMMON_CLK_AXI_CLKGEN=m
CONFIG_COMMON_CLK_RS9_PCIE=m
CONFIG_COMMON_CLK_SI521XX=m
CONFIG_COMMON_CLK_VC3=m
CONFIG_COMMON_CLK_VC5=m
CONFIG_COMMON_CLK_VC7=m
CONFIG_COMMON_CLK_FIXED_MMIO=y
CONFIG_CLK_LGM_CGU=y
CONFIG_COMMON_CLK_XLNX_CLKWZRD=m
CONFIG_PLATFORM_MHU=m
CONFIG_MAILBOX_TEST=m
CONFIG_LITEX_SOC_CONTROLLER=m
CONFIG_QCOM_PMIC_GLINK=m
CONFIG_PWM_ADP5585=m
CONFIG_PWM_ATMEL_TCB=m
CONFIG_PWM_FSL_FTM=m
CONFIG_PWM_INTEL_LGM=m
CONFIG_PWM_NTXEC=m
CONFIG_PWM_XILINX=m
CONFIG_AL_FIC=y
CONFIG_XILINX_INTC=y
CONFIG_RESET_INTEL_GW=y
CONFIG_RESET_MCHP_SPARX5=m
CONFIG_PHY_CADENCE_TORRENT=m
CONFIG_PHY_CADENCE_DPHY=m
CONFIG_PHY_CADENCE_DPHY_RX=m
CONFIG_PHY_CADENCE_SIERRA=m
CONFIG_PHY_CADENCE_SALVO=m
CONFIG_PHY_LAN966X_SERDES=m
CONFIG_PHY_MAPPHONE_MDM6600=m
CONFIG_PHY_OCELOT_SERDES=m
CONFIG_PHY_INTEL_LGM_COMBO=y
CONFIG_DTPM=y
CONFIG_DTPM_CPU=y
CONFIG_DTPM_DEVFREQ=y
CONFIG_OF_PMEM=m
CONFIG_NVMEM_U_BOOT_ENV=m
CONFIG_ALTERA_PR_IP_CORE_PLAT=m
CONFIG_FPGA_MGR_ICE40_SPI=m
CONFIG_OF_FPGA_REGION=m
CONFIG_FSI=m
CONFIG_FSI_NEW_DEV_NODE=y
CONFIG_FSI_MASTER_GPIO=m
CONFIG_FSI_MASTER_HUB=m
CONFIG_FSI_MASTER_ASPEED=m
CONFIG_FSI_MASTER_I2CR=m
CONFIG_FSI_SCOM=m
CONFIG_FSI_SBEFIFO=m
CONFIG_FSI_OCC=m
CONFIG_I2CR_SCOM=m
CONFIG_MUX_MMIO=m
CONFIG_CRYPTO_DEV_CCREE=m
# CONFIG_DMA_RESTRICTED_POOL is not set
CONFIG_SERIAL_LITEUART=m
CONFIG_SERIAL_LITEUART_MAX_PORTS=2
CONFIG_I2C_FSI=m
CONFIG_SPI_FSI=m
CONFIG_BATTERY_QCOM_BATTMGR=m
CONFIG_SENSORS_OCC_P9_SBE=m
CONFIG_UCSI_PMIC_GLINK=m
CONFIG_MMC_LITEX=m
# CONFIG_PROPELLER_CLANG is not set
CONFIG_MDIO_OCTEON=m
CONFIG_SPI_CADENCE_XSPI=m
# CONFIG_DRM_ACCEL_IVPU_DEBUG is not set
CONFIG_AMD_3D_VCACHE=m
CONFIG_PINCTRL_PALMAS=m
CONFIG_MFD_AS3722=m
CONFIG_MFD_MAX77620=y
CONFIG_MFD_SEC_CORE=m
CONFIG_MFD_TC3589X=y
CONFIG_MFD_LOCHNAGAR=y
CONFIG_MFD_ROHM_BD718XX=m
CONFIG_MFD_ROHM_BD71828=m
CONFIG_MFD_ROHM_BD957XMUF=m
CONFIG_MFD_ROHM_BD96801=m
CONFIG_MFD_STPMIC1=m
CONFIG_MFD_STMFX=m
CONFIG_REGULATOR_AS3722=m
CONFIG_REGULATOR_BD71815=m
CONFIG_REGULATOR_BD71828=m
CONFIG_REGULATOR_BD718XX=m
CONFIG_REGULATOR_BD957XMUF=m
CONFIG_REGULATOR_BD96801=m
CONFIG_KEYBOARD_TC3589X=m
CONFIG_INPUT_STPMIC1_ONKEY=m
CONFIG_PINCTRL_AS3722=m
CONFIG_PINCTRL_MAX77620=m
CONFIG_PINCTRL_LOCHNAGAR=m
CONFIG_GPIO_BD71815=m
CONFIG_GPIO_BD71828=m
CONFIG_GPIO_MAX77620=m
CONFIG_GPIO_TC3589X=y
CONFIG_POWER_RESET_AS3722=y
CONFIG_SENSORS_LOCHNAGAR=m
CONFIG_MAX77620_THERMAL=m
CONFIG_STPMIC1_WATCHDOG=m
CONFIG_REGULATOR_LOCHNAGAR=m
CONFIG_REGULATOR_MAX77620=m
CONFIG_REGULATOR_S2MPA01=m
CONFIG_REGULATOR_S2MPS11=m
CONFIG_REGULATOR_S5M8767=m
CONFIG_REGULATOR_STPMIC1=m
CONFIG_SND_SOC_LOCHNAGAR_SC=m
CONFIG_RTC_DRV_AS3722=m
CONFIG_RTC_DRV_BD70528=m
CONFIG_RTC_DRV_S5M=m
CONFIG_COMMON_CLK_S2MPS11=m
CONFIG_COMMON_CLK_LOCHNAGAR=m
CONFIG_COMMON_CLK_BD718XX=m
CONFIG_BD957XMUF_WATCHDOG=m
CONFIG_BD96801_WATCHDOG=m
CONFIG_RTC_DRV_TWL4030=m
CONFIG_VPA_PMU=m
CONFIG_LEDS_MAX5970=m
CONFIG_MUX_ADG792A=m
CONFIG_MUX_GPIO=m
CONFIG_PACKING_KUNIT_TEST=m
CONFIG_FUNCTION_GRAPH_RETADDR=y
CONFIG_UTIL_MACROS_KUNIT=m
CONFIG_CRC16_KUNIT_TEST=m
# CONFIG_TEST_KALLSYMS is not set

CONFIG_IMX_SCMI_MISC_DRV=m
