CONFIG_MEMCG=y
CONFIG_MEMCG_V1=y
CONFIG_POWER_SEQUENCING=m
CONFIG_POWER_SEQUENCING_QCOM_WCN=m
CONFIG_GPIO_SLOPPY_LOGIC_ANALYZER=m

CONFIG_LD_DEAD_CODE_DATA_ELIMINATION=y

CONFIG_RUST=y
CONFIG_RUST_FW_LOADER_ABSTRACTIONS=y
# CONFIG_BLK_DEV_RUST_NULL is not set
# CONFIG_RUST_DEBUG_ASSERTIONS is not set
# CONFIG_RUST_OVERFLOW_CHECKS is not set
# CONFIG_RUST_BUILD_ASSERT_ALLOW is not set

CONFIG_SCHED_CLASS_EXT=y

CONFIG_CPUSETS=y
CONFIG_CPUSETS_V1=y

CONFIG_VMLINUX_MAP=y
CONFIG_BUILTIN_MODULE_RANGES=y
